<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lordan.mark.PosseUp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIEVE" />

    <permission
        android:name="com.lordan.mark.PosseUp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.lordan.mark.PosseUp.permission.C2D_MESSAGE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".UI.MainActivityGroup.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UI.StartActivity"
            android:label="@string/app_name"
            android:theme="@style/fullscreenStartPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.SigninGroup.SigninActivity"
            android:label="Posse Up"
            android:theme="@style/TranslucentStatusBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UI.EventDetailGroup.EventDetailsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lordan.mark.PosseUp.UI.MainActivityGroup.MainActivity" />
        </activity>
        <activity
            android:name=".UI.CreateEventGroup.AddEventActivity"
            android:label="Create Event"
            android:theme="@style/CreateEventStyle" />
        <activity
            android:name=".UI.ProfileGroup.ProfileActivity"
            android:label="Profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyAaIWjYI2KZZY_DEOJyuPrZyyP24lDesmM" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCQQCZspXPNl_KS7xqgoTM9r7YNaF3NHOA" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <receiver
            android:name="com.microsoft.windowsazure.notifications.NotificationsBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.lordan.mark.PosseUp" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".UI.SettingsActivity"
            android:label="@string/action_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lordan.mark.PosseUp.UI.MainActivityGroup.MainActivity" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="48008938d29bf48fd34d3aca183790bfbfdf8b99" />

        <activity
            android:name=".UI.EventDetailGroup.AttendanceActivity"
            android:label="@string/title_activity_attendance"
            android:parentActivityName=".UI.EventDetailGroup.EventDetailsActivity"
            android:theme="@style/AppTheme"></activity>
        <activity android:name=".UI.EventDetailGroup.AttendActivity"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>